---
import Page from "../layouts/Page.astro";
import Section from "../components/Section.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import GridContainer from "../components/GridContainer.astro";
import Slider from "../components/Slider.astro";

const title = "Styleguide";
const navLinks = [
	{ title: "Home", url: "/" },
	{ title: "Styleguide", url: "/styleguide", highlight: true },
];
//TODO: replace links
const footerLinks = [
	{ title: "test1", url: "/url1" },
	{ title: "test2", url: "/url2" },
];

const foregroundColor = "rgb(221 20 228)";
const backgroundColor = "rgb(24 20 78)";
const colors = [
	"oklch(96.26% 0.02 298.2)",
	"oklch(0% 0 0)",
	"oklch(68.57% 0.134 167.49)",
	"oklch(60.42% 0.191 21.46)",
	"oklch(100% 0 0 / 30%)",
	"hsl(221deg, 51%, 16%)",
	"hsl(0deg, 0%, 90%)",
	"oklch(76.18% 0.185 69.56)",
	"oklch(64.19% 0.181 251.54)",
	"oklch(67.94% 0.159 243.72)",
	"oklch(85.31% 0.127 77.56)",
	"oklch(63.57% 0.199 352.43)",
	"oklch(51.85% 0.208 22.52)",
];

const breakoutStates = [
	"full-width",
	"full-width-right",
	"full-width-left",
	"breakout",
	"breakout-left",
	"breakout-right",
];
---

<Page pageTitle={title} navLinks={navLinks} footerLinks={footerLinks}>
	<h1 class="headline h1">{title}</h1>
	<section class="section">
		<h2 class="headline h2">Typo</h2>
		<h1 class="headline h1">
			Lorem ipsum dolor sit amet consectetur adipisicing.
		</h1>
		<h2 class="headline h2">
			Lorem ipsum dolor sit amet consectetur adipisicing.
		</h2>
		<h3 class="headline h3">
			Lorem ipsum dolor sit amet consectetur adipisicing.
		</h3>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
			magnam consequuntur repellendus accusamus? Numquam totam deserunt
			fugit unde a sunt!
		</p>
	</section>
	<section class="section">
		<h2 class="headline h2">Lists</h2>
		<ol>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
		</ol>
		<ul>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
			<li>Lorem ipsum dolor sit amet.</li>
		</ul>
	</section>
	<section class="section">
		<h2 class="headline h2">Links</h2>
		<a href="">Internal Link</a>
		<a href="" rel="external" target="_blank">External Link</a>
	</section>
	<Section headline="Buttons">
		<Button>Primary</Button>
		<Button classes="secondary">Secondary</Button>
	</Section>
	<Section headline="test">
		<GridContainer>
			<Card title="Planning" />

			<Card title="Development" />
			<Card title="Maintenance" />
		</GridContainer>
	</Section>
	<Section headline="Colors" className="full-width content-grid">
		<GridContainer>
			{
				colors.map((color) => {
					return (
						<Card
							title={color}
							backgroundColor={color}
							isColorDemo={true}
						/>
					);
				})
			}
		</GridContainer>
	</Section>
	<Section headline="Slider" className="full-width content-grid">
		<Slider />
	</Section>
	<Section className="content-grid full-width">
		{
			breakoutStates.map((breakoutState) => {
				return (
					<Card
						title={breakoutState}
						backgroundColor={colors[1]}
						isColorDemo={false}
						className={breakoutState}
						aspectRatio="5/1"
					/>
				);
			})
		}
	</Section>
</Page>
